body {
    font-family: 'Ubuntu', sans-serif;
    padding: 0%;
    margin: auto;
}

.flex {
    display: flex;
}

.align {
    align-items: center;
}

.just-evenly {
    justify-content: space-evenly;
}

.just-around {
    justify-content: space-around;
}

.just-between {
    justify-content: space-between;
}

.background-green {
    background-color: #2E948A;
}

.letter-green {
    color: #009688;
}
.letter-pink {
   color:  #FF4081
}
.background-gray {
   background-color:  #E5E5E5;
}

header {
    padding: 20px 100px;
}
header nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

#banner1 {
    padding: 60px 100px;
}

#banner1 h1 {
    font-size: 70px;
    margin: 20px 0;
}
#banner1 article {
    width: 450px;
}

#banner1 a {
text-decoration: none;
color: #FF4081;
border: 1px solid #FF4081;
border-radius: 62px;
padding: 5px 15px;
font-size: 20px;
}

#banner1 p {
font-size: 25px;
}

#formulario article {
   flex-direction: column;
   justify-content: center;    
}

form, input, textarea {
    width: 400px;    
}

input, textarea {
    margin: 5px 0px;

}
#formulario {
    padding: 30px 100px;
}

button {
    text-decoration: none;
    background-color: #FF4081;
    color: white;
    padding: 5px 25px;
    border: #FF4081 1px solid;
    border-radius: 40px;
}
#ilustra-contato {
    width: 100px;
}

h1{
    font-size: 40px;
    margin-bottom: 10px;
}

footer {
    padding: 30px;
}

footer a {
    margin: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}

footer nav {
    flex-direction: column;
}

#button {
    flex-direction: column;
}

#button a {
    border: solid white 1px;
    border-radius: 60px;
    padding: 10px 40px;
}