body {
    font-family: 'Ubuntu', sans-serif;
    padding: 0%;
    margin: auto;
}

main {
    margin-bottom: 0px;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.align {
    align-items: center;
}

.just-evenly {
    justify-content: space-evenly;
}

.just-around {
    justify-content: space-around;
}

.just-between {
    justify-content: space-between;
}

.background-green {
    background-color: #2E948A;
}

.letter-green {
    color: #009688;
}
.letter-pink {
   color:  #FF4081
}
.background-gray {
   background-color:  #E5E5E5;
   width:auto;
}

header {
    padding: 20px 100px;
}

header nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 45px;
}
#investimento-curso article{
    width: 350px;
   }
#investiment-curso p{
    width: 400px;
    height: 150px;
    padding: 0px 10px;
    
}

#investimento-curso {
    padding: 50px;
}

#iframe {
    padding: 60px;
}

#iframe article {
    margin: 30px 0px;
}

#iframe div {
    width: 450px;
}

#iframe iframe {
    width: 400px;
}
h3 {
    font-size: 25px;
}

#iframe p {
    font-size: 18px;
    text-align: justify;
}