@media only screen and (max-width:1650px) {
    #sobre-nos article{
        width: 600px;
        margin: 20px 0px;    
    }
    }

    @media only screen and (max-width: 1160px){
    #cursos {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 1155px) {
    #banner1{
        text-align: center;
        flex-direction: column;
    }
    
}
@media only screen and (max-width: 1054px) {
    #ultimasessao div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 750px) {
    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    header {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 690px){
    #sobre-nos article{
        flex-direction: column;
        text-align: center;
    }
    #sobre-nos-text{
        text-align: center;
    }
    #banner1 {
        text-align: center;           
    }
       #banner1 img {
        width: 350px;
       }
       #cursos img {
        width: 300px;
       }

       #cursos article {
        width: 300px;
       }

       #cursos {
        padding: 10px;
    }
}

@media only screen and (max-width: 650px) {
    #sobre-nos p {
        width: 300px;
    }
}

@media only screen and (max-width: 470px) {
    header {
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;
    }
}
/*Media contato*/
@media only screen and (max-width: 1190px) {
    #formulario {
        justify-content: space-between;
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 900px) {
    #formulario {
        flex-direction: column;
        text-align: center;
    }
}
@media only screen and (max-width: 500px){
    #formulario {
        width: 200px;
        justify-content: center;
        padding: 30px 0px;
    }
}
/*verificar media do formulario*/
/*começa media cursos*/
@media only screen and (max-width: 1105px) {
    #banner-cursos section {
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    }
    
    #banner-cursos {
        text-align: center;
    }

    #banner-cursos article {
        text-align: center;
       justify-content: center;

    }

    #banner-cursos p{
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
}
/*Media da página blog*/

@media only screen and (max-width: 910px) {
    #blog-banner {
        flex-direction: column;
        justify-content: center;
    }
}
@media only screen and (max-width: 600px) {
    #content-blog p{
        width: 250px;
    }
    
}

@media only screen and (max-width: 600px) {
    #content-blog div {
        width: 250px;
        height: 150px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*Média da página Curso*/

@media only screen and (max-width: 1200px) {
    #iframe article {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
#investimento-curso {
    flex-direction: column;
}
#investimento-curso article {
    text-align: center;
}
}

@media only screen and (max-width: 500px) {
    #iframe iframe {
        width: 250px;
        height: 200px;
    }
    #iframe div {
        width: 250px;
        
    }
}

@media only screen and (max-width: 430px) {
    #investimento-curso h1 {
        font-size: 30px;
    }
    #investimento-curso article {
        width: 250px;
    }
    #investimento-curso img {
        width: 280px;
    }
}

/*Média para página Post*/

@media only screen and (max-width: 2000px){
    #caixa-texto {
        width: auto;       
    }
    #post-texto{
        align-items: center;
    }
}

@media only screen and (max-width: 1100px) {
    #grande-retangulo {
        width: 800px;
        height: 400px;

    }
}

@media only screen and (max-width: 800px) {
    #grande-retangulo {
        width: 500px;
        height: 300px;

    }
}

@media only screen and (max-width: 770px){
    #caixa-texto{
        margin: 0px 0px;
        padding: 0px 0px;
    }
}

@media only screen and (max-width: 620px){
#grande-retangulo {
    width: 300px;
    height: 150px;    
}
#text-post h1 {
    font-size: 15px;
}
#caixa-texto {
    width: 400px;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 10px;
}
}

@media only screen and (max-width: 520px){
    #caixa-texto {
        width: 350px;
        font-size: 8px;        
    }
}

@media only screen and (max-width: 430px){
    #caixa-texto {
        width:250px;
    }
}
